# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
microservicecloud-api/src/main/resources/
microservicecloud-api/src/test/
microservicecloud-api/target/
/microservicecloud-provider-dept-8001/
